p {
    width: 300px;
    border: 5px solid;
    text-align: left;
    padding: 10px;
  }
h1{
    font: size 10vw; 
    text-align: left;
}
div{
    width: 300px;
    border: 5px solid;
    text-align: left;
    padding: 10px;
}
